* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

body {
  background-color: rgb(249, 221, 164);
}

.fa {
  font-size: 1.3rem !important;
  margin: 0rem 0.4rem;
}

.fa-trash:hover {
  color: red !important;
}
.fa-pencil-square-o:hover {
  color: green !important;
}

.todo-container {
  background-color: #f3cc79;
  height: 40vh;
  border-radius: 0.3rem;
}

.list-group-item {
  background-color: #f9dda4;
}

button {
  outline-offset: none;
}
.btn {
  padding: 0.1rem !important;
  border: none !important;
  outline: none !important;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

input[type="checkbox"] {
  background-color: #17a2b8 !important;
}
